.button {
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    height: var(--input-height);
    padding: 16px;
    border-radius: var(--border-radius);
    background-color: var(--color-blue-dark);

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 140%;
    color: var(--color-gray-100);
    border: 1px solid var(--color-blue-dark);

    &:hover{
        background-color: var(--color-purple-dark);
        border-color: var(--color-purple-dark);
    }

    &:active {
        scale: 1.05;
    }
}