.field {
    position: relative;

    &:has(.field__input:not(:placeholder-shown)) .field__label {
        scale: 0.7;
        translate: -1.75em -3em;
        color: var(--color-gray-300);
    }
}

.field-search {
    grid-column: span 2 / span 2;
}

.field__label {
    position: absolute;
    top: 50%;
    left: 17px;
    color: var(--color-gray-300);
    translate: 0 -50%;
    z-index: 1;
}

.field__label-select {
    color: var(--color-gray-300);
}

.field__select {
    &:focus {
        outline: none;
    }
}

.field__input {
    --fieldInputPaddingX: 16px;
    --fieldSearchIconSize: 16px;

    width: 100%;
    height: var(--input-height);
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--color-gray-500);
    color: var(--color-gray-300);
    padding-inline: var(--fieldInputPaddingX);

    &:hover,
    &:focus {
        color: var(--color-gray-100);
    }

    &:focus {
        background-color: var(--color-gray-400);
        outline: none;
    }

    &[type='search'] {
        &:placeholder-shown {
            padding-right: calc(
                    var(--fieldInputPaddingX) * 2 + var(--fieldSearchIconSize)
            );
            background: url('../../icons/icon-search_black.svg');
            background-position: calc(100% - var(--fieldInputPaddingX)) 50%;
            background-size: var(--fieldSearchIconSize);
            background-repeat: no-repeat;
        }
    }
}
