.todo-item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-left: 16px;
    border: var(--border);
    border-radius: var(--border-radius);
    transition-duration: var(--transition-duration);
    background-color: var(--color-gray-500);
    color: var(--color-gray-100);

    &:hover {
        background-color: var(--color-gray-400);
    }

    &.is-disappearing {
        opacity: 0;
        translate: 0 -75%;
        transition-duration: calc(var(--transition-duration) * 2);
        pointer-events: none;

        & ~ .todo-item {
            translate: 0 calc((100% + var(--todoListRowGap)) * -1);
            transition-delay: var(--transition-duration);
            transition-duration: var(--transition-duration);
            pointer-events: none;
        }
    }
}

.todo-item__checkbox {
    margin-block: 16px;
    flex-shrink: 0;
    appearance: none;
    position: relative;
    width: 24px;
    height: 24px;
    border: 2px solid var(--color-blue);
    border-radius: 50px;

    &:not(:checked) {
        &::after {
            opacity: 0;
        }
    }

    &:checked {
        background-color: var(--color-purple-dark);
        border-color: var(--color-purple-dark);

        & + .todo-item__label {
            color: var(--color-gray-300);
            text-decoration: line-through;
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: 16px;
        height: 16px;
        background: url('../../icons/icon_check-white.svg') center/contain no-repeat;
    }
}

.todo-item__label {
    margin-block: 16px;
    pointer-events: none;
}

.todo-item__delete-button {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-left: auto;
    padding: 0;
    color: var(--color-gray-300);
    background-color: transparent;
    border: none;
    border-radius: inherit;

    &:hover {
        color: var(--color-gray-200);
    }

    &:active {
        scale: 1.05;
    }

    * {
        pointer-events: none;
    }
}

.todo-item__badge {
    padding: 3px;
    border-radius: var(--border-radius);
    font-size: 12px;
}