@import 'normalize.css';
@import 'fonts.css';
@import 'globals.css';
@import 'variables.css';

@import './components/todo.css';
@import './components/form.css';
@import './components/field.css';
@import './components/todo-item.css';
@import './components/button.css';